/*
 * This file is useful for styling site wide themes. Like background colors etc.
 * The theme names are set in the default layout bodyClasses() and themeName() computeds.
 */
:root,
.theme-black {
    --theme-color-background: var(--color-black);
    --theme-color-text: var(--color-white);
    --theme-color-nav: var(--color-white);
}
:root,
.theme-white {
    --theme-color-background: var(--color-white);
    --theme-color-text: var(--color-black);
    --theme-color-nav: var(--color-white);
}
:root,
.theme-gray {
    --theme-color-background: var(--color-gray);
    --theme-color-text: var(--color-black);
    --theme-color-nav: var(--color-white);
}
